//#it`s beginning

doctype html

html
  head
    title Homepage - Tiger
  body
    .page-wrap
      .navbar.navbar-default.hcnavigation(role='navigation')
        .container.hccontainer
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
          .navbar-collapse.cooapse.hccollapse
            ul.nav.navbar-nav.navbar-right
              li.hctab
                a.hcactive(href='#') ABOUT ME
              li.hctab
                a(href='work.html') WORK
              li.hctab
                a(href='contact.html') CONTACT
      .hcbanner
        .container
          ul#hcbanner
